@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nunito";
  src: url("./assets/fonts/nunito.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;

  font-display: swap;
}

a {
  @apply font-bold;
}

@font-face {
  font-family: "nunito";
  src: url("./assets/fonts/nunito-italic.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;

  font-display: swap;

  font-style: italic;
}

* {
  @apply accent-aodPurple;
}

input[type="text"] {
  @apply p-2 rounded-md bg-black text-white text-center ring-1 ring-zinc-500 text-base focus:outline-dotted focus:outline-black;
}

input[type="checkbox"] {
  @apply w-5 aspect-square mt-auto;
}

button {
  @apply bg-[#98C379] text-black p-2 text-base rounded-md duration-200 transition-all;
}

button:disabled {
  @apply brightness-150 invert;
}

.svg-icon {
  @apply flex flex-row justify-center items-center space-x-[0.5ch];
}

.svg-icon svg {
  @apply inline;
}

.rotating-image {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.85);
  }
  to {
    transform: rotate(360deg) scale(0.85);
  }
}
